<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/item-list" routerLinkActive="active">View Items</a></li>
      <li><a routerLink="/add-item" routerLinkActive="active">Add Item</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
