<div class="container">
    <label><b>Username</b></label>
    <input type="text" required [(ngModel)]="loginData.username" >

    <label><b>Password</b></label>
    <input type="password" required [(ngModel)]="loginData.password" >
        
    <button type="submit" (click)="login()" >Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a href="#">Forgot Password?</a></span>
</div>
