<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/item-list" routerLinkActive="active">View Items</a></li>
      <li><a routerLink="/add-item" routerLinkActive="active">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a (click)="logout()">Logout&nbsp;</a></li>
    </ul>
</nav>

<div style="text-align:center">
  <h1>
    Item List
  </h1>
</div>


<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Item Description</th>
	<th>Length</th>
	<th>Width</th>
	<th>Height</th>
	<th>Weigth</th>
	<th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.itemId}}</td>
        <td>{{item.itemName}}</td>
        <td>{{item.itemDescription}}</td>
	<td>{{item.itemDimensionLength}}</td>
	<td>{{item.itemDimensionWidth}}</td>
	<td>{{item.itemDimensionHeigth}}</td>
	<td>{{item.itemWeight}}</td>
	<td>{{item.itemPrice}}</td>


      </tr>
    </tbody>
  </table>
</div>

