<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a routerLink="/item-list" routerLinkActive="active">View Items</a></li>
      <li><a routerLink="/add-item" routerLinkActive="active">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a (click)="logout()">Logout&nbsp;</a></li>
    </ul>

</nav>

<div class="container">
	<div [hidden]="submitted">
		<h1>Add Item</h1>
		<form (ngSubmit)="onSubmit()" #addItemForm="ngForm">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="itemName" required
				       [(ngModel)]="model.itemName" name="itemName"
				       #itemName="ngModel">
			        <div [hidden]="itemName.valid"
			             class="alert alert-danger">
				          Name is required
			        </div>
			</div>
			<div class="form-group">
				<label for="name">Description</label>
				<input type="text" class="form-control" id="itemDescription"
				       required
				       [(ngModel)]="model.itemDescription" name="itemDescription"
				       #itemDescription="ngModel">
			        <div [hidden]="itemDescription.valid"
			             class="alert alert-danger">
				          Item Description is required
			        </div>
			</div>

			<div class="form-group">
				<label for="name">Item Weight</label>
				<input type="text" class="form-control" id="itemWeight"
				       required
				       [(ngModel)]="model.itemWeight" name="itemWeight"
				       #itemWeight="ngModel">
			        <div [hidden]="itemWeight.valid"
			             class="alert alert-danger">
				          Item Weight is required
			        </div>
			</div>

      			<div class="form-group">
			        <label for="price">Price</label>
			        <input type="text" class="form-control" id="itemPrice"
               				required
			               [(ngModel)]="model.itemPrice" name="itemPrice"
		        	       #itemPrice="ngModel">
			        <div [hidden]="itemPrice.valid"
			             class="alert alert-danger">
			          Price is required
			        </div>
		      </div>

      <button type="submit" class="btn btn-success" [disabled]="!addItemForm.form.valid" >Submit</button> &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newItem(); addItemForm.reset()">New Product</button>
    </form>
  </div>


  <div [hidden]="!submitted">
    <h2>{{submitMessage}}</h2>
    <div class="row">
      <div class="col-xs-3">Id</div>
      <div class="col-xs-9">{{model.itemId}}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{model.itemName}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description</div>
      <div class="col-xs-9">{{model.itemDescription}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Weight</div>
      <div class="col-xs-9">{{model.itemWeight}}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Price</div>
      <div class="col-xs-9">{{model.itemPrice}}</div>
    </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
